[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=ti-icon
Name=task_4_system_simulation
Exec=shell_scripts/lab_env.sh $GROFDM_DIR/bin/run_benchmark_gui.sh --sinr-est --multipath
