[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=ti-icon
Name=task_3_system_simulation_case_2
Exec=shell_scripts/lab_env.sh $GROFDM_DIR/bin/run_benchmark_gui.sh --multipath --lab-special-case
