[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=ti-icon
Name=usrp_fft
Exec=env LD_LIBRARY_PATH=/opt/gr-ofdm/lib/:/opt/uhd/lib/:/opt/gnuradio-3.7.8/lib uhd_fft
