[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=ti-icon.png
Name=task_3_system_simulation_case_1
Exec=task_3_system_simulation_case_1.sh
